dear <b><%= @customer.name%></b>
<p>you have login in,now, you can comment on the books displayed</p>
<br>
<p> your personnel imformation:</p>

<p>
  <b>Name:</b>
  <%= @customer.name %>
</p>



<p>
  <b>Email:</b>
  <%= @customer.email %>
</p>




