<<<<<<< HEAD
<h2>Your Pragmatic Cart</h2>
<ul>
	<% for item in @cart.line_items %>
	<li><%= item.product.title%></li>
	<% end %>
</ul>

<%= link_to 'Edit', edit_cart_path(@cart) %> |
<%= link_to 'Back', carts_path %>
=======

<h2> Your Pragmatic Cart </h2>
<ul>
	<% for item in @cart.line_items %>
		<li><%= item.product.title %></li>
	<% end %>
</ul>
>>>>>>> 269940add41ee18df983bbf99d80889df5b06e0d
