

<div class="content">
<h3> System mention:  </h3>
please input the address to active your account: <br/>

<hr style= "height:1px; color:#000000;"/>

<p>if you  have actived click: <%= link_to "login page", "login"%> <br/>
if you have not actived click: <%= link_to "register page", "reg"%> 

</p>
</div> 